* {
    font-family: "Press Start 2P";
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body {
    background-image: linear-gradient(120deg, #28df99 0%, #f6f7d4 100%);
}

button {
    all: unset;
}

header {
    font-size: 1rem;
    ;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}


form button {
    color: #DBBADD;
    background: #BE92A2;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #ff6f47;
    color: white;
}

.todo-contaier {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: linear-gradient(45deg, #7579e7,#b9fffc);
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}

.todo li {
    flex: 1;
}

.todo-filter {
    padding: 1rem;
}

.del-button,
.done-button {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.done-button {
    background: rgb(11, 212, 162);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
}

.done {
    text-decoration: line-through;
    opacity: 0.5;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;   
    border: none;
    appearance: none;
}

.select{
    margin:1rem;
    position: relative;
    overflow: hidden;
}

select{
    color: cornflowerblue;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
}

.select::after{
    content:"\25BC";
    position: absolute;
    background: yellowgreen;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}

.select:hover::after{
    background: blueviolet;
    color:blue;
}